* {
    border-radius: 0;
    /* font-family: "FiraCode Nerd Font"; */
    font-family: "Monocraft";
    font-size: 14px;
}

window#waybar {
    background-color: rgba(34, 34, 34, 0.8);
    /* background-color: #222222; */
    color: #d6d6d6;
    /* border-bottom: 2px solid #d6d6d6; */
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #d6d6d6;
    margin: 0;
}

#workspaces button.active{
  background-color: transparent;
  color: rgba(26, 26, 26, 0.4);
}

#workspaces button.urgent {
    background-color: #cc6666;
    color: rgba(26, 26, 26, 0.4);
    /* color: #1A1A1A; */
}

#custom-session-wrap,
#custom-lock,
#custom-reboot,
#custom-power,
#clock,
#cpu,
#memory,
#temperature,
#battery,
#network,
#pulseaudio,
#backlight,
#disk,
#mpris,
#tray {
    padding: 0 10px;
    margin: 0 2px;
    border-bottom: 2px solid #d6d6d6;
    background-color: transparent;
}

#custom-session-wrap {
    font-size: 14px;
    padding-bottom: 2px;
    padding-right: 12px;
}

tooltip {
    background-color: #222222;
}

tooltip label {
    color: #d6d6d6;
} 